<html>
<head>
<title>B&W TileLayer Test</title>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
<script src="/js/TileLayer.Grayscale.js"></script>
<style>
body { margin: 0; }
#map { height: 100%; }
</style>
<script>
    function init() {
        var map = L.map('map', { fadeAnimation: false }).setView([25, -4], 3);
        L.tileLayer.grayscale('http://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: 'Map data &copy; <a href="http://openstreetmap.org/">OpenStreetMap</a> contributors',
            maxZoom: 14, minZoom: 2
        }).addTo(map);

const LeafIcon = L.Icon.extend({
		options: {
			shadowUrl: 'leaf-shadow.png',
			iconSize:     [38, 95],
			shadowSize:   [50, 64],
			iconAnchor:   [22, 94],
			shadowAnchor: [4, 62],
			popupAnchor:  [-3, -76]
		}
	});

	const greenIcon = new LeafIcon({iconUrl: '/images/123a.png'});
	const redIcon = new LeafIcon({iconUrl: '/images/123a.png'});
	const orangeIcon = new LeafIcon({iconUrl: '/images/123a.png'});

	const mGreen = L.marker([51.5, -0.09], {icon: greenIcon}).bindPopup('I am a green leaf.').addTo(map);
	const mRed = L.marker([51.495, -0.083], {icon: redIcon}).bindPopup('I am a red leaf.').addTo(map);
	const mOrange = L.marker([51.49, -0.1], {icon: orangeIcon}).bindPopup('I am an orange leaf.').addTo(map);

        
    }
</script>
</head>
<body onload="javascript:init();">
<div id="map"></div>
</body>
</html>
